body {
    margin: 0 auto;
    background-color: #341C77;
    font-size: 2.5rem;
    font-family: "Dongle", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center   ;
}

a {
    text-decoration: none;
    color:#8E89C0;
}

.header{
    margin: 0 auto;
    padding: 3rem 8rem;
}

.fatherhood-logo-container {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-size: 3rem;
}

.nav-link {
    position: relative;
    display: inline;
    color: #8E89C0;
    cursor: pointer;
    padding: 10px 20px;
  }

.nav-link::before{
    content: '';
    position: absolute;
    top: 20%;
    left: 30%;
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
    background: orange;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
    transform: scale(0);
    transition: 0.1ms;
    z-index: -1;
    border-radius: 5rem;
}

.nav-link:hover::before {
    transform: scale(1);
}

.hero-div{
    display: flex;
    justify-content: space-around;
    padding: 0rem 10rem;

}

.hero-img img {
    max-width: 50%;
    border-radius: 4%;
}

.hero-div p {
    max-width: 50%;
    color: #8E89C0;
}

.primary-container {
    display: flex;
    justify-content: space-around;
    background: green;
}

.primary-content-one {
    background: cyan;
    height: 20em;
    max-width: 10%;
}

.primary-content-two {
    background: purple;
    height: 20em;
    max-width: 10%;
}

