/* 
   1) Use percentages for widths instead of fixed pixels values.

   2) Avoid setting heights in webpages!! (Rare use cases for height)

   3) Use padding to add more height to an element (Example: padding: 5em or 5rem)

   4) Em vs Rem:
        ---> EM: 
            - 1em which is in relation to the parent element (default to 16px).
            - Compounding effect which can cause issues for font sizes.
            - Don't use as font-size, due to compounding effect!
            --- Use Cases ---
                1) Padding (Great for padding)
                2) Margin
                3) Font-sizes (Not recommended)
        ---> REM:
            - 1rem is in relation to the root element or html
            - More Consistent sizing and spacing!
            - Fixes compounding issue introduced by em
            --- Use Cases ---
                1) Font-sizes
                2) Margin
                3) Padding (Not recommended)

    5) Using Max-Width on webpages:
        - Stops elements from stretching unnaturally and distorting the viewport.

    6) CSS Units: vh, vw, vmin, vmax
        - VH - Used to keep viewport height consistent based on the overall site size (Fullscreen and resizing window size)
            -> -> Can be used for padding
        - VW - Used to keep viewport width consistent based on the overall site size (Fullscreen and resizing window size)
            -> Can be used instead of width or max-width
        - VMax - Based on the bigger attribute ( VH > VW or VW > VH)
        - VMin - Based on the smaller attribute ( VH < VW or VW < VH)
        - Beware: This can create problems on mobile devices! (Use with media query to correct issue)

    7) Spacing between columns (Example -> Use gap: 10rem)
    8) Breakpoints:
        - 
        -
        -
        -
*/

/* --------> Beginning of General Styling (Useful for all websites) <-------- */


*, *::before, *::after {
    /* Default styling -> box-sizing: border-box */
    box-sizing: border-box;
}

body {
    /* Default styling -> margin: 0, font-family: sans-serif */
    margin: 0;
    font-size: 2.5rem;
    font-family: "Dongle", serif;
    font-weight: 300;
    color: var(--light-color);
}

img {
    /* Default styling -> max-width: 100% */
    max-width: 100%;
    border-radius: 1.25rem;
}

a {
    /* Default styling -> text-decoration: none, color: any_color */
    text-decoration: none;
    color: var(--light-color);
    font-weight: 700;
}

.container {
    /* Default styling -> margin: 0 auto, width: xx%, max-width: 1100px (fixed px value)*/
    width: 100%;
    /* max-width: 100vw; */
    margin: 0 auto;
}

.row {
    display: flex;
    
}

/* --------> End of General Styling Section <-------- */

/* --------> Start of Header(Navbar) Styling Section <-------- */
.header{
    padding: 1.125em 4em;
    background: var(--pri-color);
    justify-content: space-between;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    font-weight: 900;
}

.fatherhood-logo{
    font-family: "DynaPuff", serif;
    font-weight: 500;
    font-size: 3rem;
}

.nav-link{
    position: relative;
    display: inline;
    color: var(--light-color);
    cursor: pointer;
    padding: .2rem .2rem;
    z-index: 1;
  }

.nav-link::before{
    content: '';
    position: absolute;
    top: 15%;
    left: 30%;
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
    background: var(--bold-text);
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
    transform: scale(0);
    transition: 0.3s;
    z-index: -1;
    border-radius: 20%;
}

.nav-link:hover::before,
.nav-link:active::before {
    transform: scale(1);
}
/* --------> End of Header(Navbar) Styling Section <-------- */

/* --------> Start of Hero Styling Section <-------- */
.hero-div {
    background:var(--pri-color);
    justify-content: space-between;
    align-items: center;
    padding: 3em 6em;
    gap: 10rem;
}

.hero-content h2, p{
    margin-top: 0;
}

.hero-img {
    max-width: 45%;
}


/* --------> End of Hero Styling Section <-------- */

/* --------> Start of Primary Content Styling Section <-------- */
.primary-content {
    background-color: var(--light-color);
    color:var(--gray-text);
    justify-content: space-between;
    align-items: center;
    padding: 3em 6em;
    gap: 10rem;
}

.primary-img {
    max-width: 45%;
}

@media (max-width: 768px) {
    .row {
        display: block;
    }

    .hero-img,
    .primary-img {
        max-width: 100%;
    }

    .hero-div,
    .primary-content {
        padding: 1.25em 1.25em;
    }
}

/* --------> End of Primary Content Styling Section <-------- */

/* 
.hero-img img {
    border-radius: 2%;
}

.hero-content {
    max-width: 100%;
}



.hero-div p {
    margin: 0;
    color: #8E89C0;
}

.hero-text{
    color: orange;
}

.primary-content {
    background: #ffff;
} */

